{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}DATA READER APP{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Question_book-new.svg/1200px-Question_book-new.svg.png"
          rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css/' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css/' %}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css/' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css/' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="/" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-glasses"></i> READER APP</h3>
            </a>

            <div class="navbar-nav w-100">

                <a href="/" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Home</a>
                <a href="{% url 'xlsx_registers_list' %}" class="nav-item nav-link"><i class="far fa-file-excel"></i>
                    xlsx registers</a>
                <a href="{% url 'csv_registers_list' %}" class="nav-item nav-link"><i class="fa fa-file-csv"></i> csv
                    registers</a>
                <a href="{% url 'xlsx_statistics' %}" class="nav-item nav-link"><i class="far fa-file-excel"></i> xlsx
                    statistics</a>
                <a href="{% url 'csv_statistics' %}" class="nav-item nav-link"><i class="fa fa-file-csv"></i> csv
                    statistics</a>

            </div>
        </nav>
    </div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>

            <div class="navbar-nav align-items-center ms-auto">
                <a href="/" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Home</a>
                <a href="{% url 'xlsx_registers_list' %}" class="nav-item nav-link"><i class="far fa-file-excel"></i>
                    xlsx registers</a>
                <a href="{% url 'csv_registers_list' %}" class="nav-item nav-link"><i class="fa fa-file-csv"></i> csv
                    registers</a>
                <a href="{% url 'xlsx_statistics' %}" class="nav-item nav-link"><i class="far fa-file-excel"></i> xlsx
                    statistics</a>
                <a href="{% url 'csv_statistics' %}" class="nav-item nav-link"><i class="fa fa-file-csv"></i> csv
                    statistics</a>

            </div>
        </nav>
        <!-- Navbar End -->

        <!-- START CONTENT -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        {% block content %}
                            <p1 class="text-center">DATA READER APP<br>HOLA</p1>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="/">READER APP</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <br><a href="https://www.linkedin.com/mwlite/in/erik-herazo-jimenez-533651197"
                                           target="_blank">Erik Herazo Jimenez</a>
                        <br><a href="https://www.linkedin.com/in/juan-pablo-lara-angulo" target="_blank">Juan Pablo Lara
                        Angulo</a>
                        <br><a href="https://www.linkedin.com/mwlite/in/jsierrabravo" target="_blank">Juan Sebastian
                        Sierra Bravo</a>
                        </br>

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/chart/chart.min.js/' %}"></script>
<script src="{% static 'lib/easing/easing.min.js/' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js/' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js/' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment.min.js/' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js/' %}"></script>
<script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js/' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js/' %}"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tablax').DataTable();
    });

    $(document).ready(function () {
        $('#tablaxx').DataTable();
    });
</script>
</body>

</html>
