{% extends 'base.html' %}
{% block content %}
    {% comment %}Some registers{% endcomment %}
    {% if ftype == 'xlsx' %}
        <!-- Insert table for the xlsx data -->
        <!-- Table Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-light rounded h-100 p-4">
                        {% comment %}<h6 class="mb-4">Responsive Table</h6>{% endcomment %}
                        <div class="table-responsive">
                            <table class="table cell-border	hover" id="tablax">
                                <thead>
                                <tr>
                                    <th scope="col">Region</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Item Type</th>
                                    <th scope="col">Sales Channel</th>
                                    <th scope="col">Order Priority</th>
                                    <th scope="col">Order Date</th>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Ship Date</th>
                                    <th scope="col">Units Sold</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Unit Cost</th>
                                    <th scope="col">Total Revenue</th>
                                    <th scope="col">Total Cost</th>
                                    <th scope="col">Total Profit</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>{{ item.region }}</td>
                                        <td>{{ item.country }}</td>
                                        <td>{{ item.item_type }}</td>
                                        <td>{{ item.sales_chanel }}</td>
                                        <td>{{ item.order_priority }}</td>
                                        <td>{{ item.order_date }}</td>
                                        <td>{{ item.order_id }}</td>
                                        <td>{{ item.ship_date }}</td>
                                        <td>{{ item.units_sold }}</td>
                                        <td>{{ item.unit_price }}</td>
                                        <td>{{ item.unit_cost }}</td>
                                        <td>{{ item.total_revenue }}</td>
                                        <td>{{ item.total_cost }}</td>
                                        <td>{{ item.total_profit }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table End -->
    {% else %}
        <!-- Table Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-light rounded h-100 p-4">
                        {% comment %}<h6 class="mb-4">Responsive Table</h6>{% endcomment %}
                        <div class="table-responsive">
                            <table class="table" id="tablaxx">
                                <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Deposits</th>
                                    <th scope="col">Withdrawls</th>
                                    <th scope="col">Balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.description }}</td>
                                        <td>{{ item.deposits }}</td>
                                        <td>{{ item.withdrawls }}</td>
                                        <td>{{ item.balance }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table End -->
    {% endif %}
{% endblock %}
