{% extends 'base.html' %}
{% block content %}
    <style>
        h6 {
            vertical-align: top;
        }
    </style>
    {% if ftype == 'xlsx' %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <h6>Número de filas importadas</h6>
                    <ul>
                        <li>{{ total_rows }}</li>
                    </ul>
                </div>

                <div class="col">
                    <h6>Tipos de ítem contenidos en el archivo según la columna <strong>ITEM TYPE</strong></h6>
                    {% for item_type in item_types %}
                        <li>{{ item_type }}</li>
                    {% endfor %}
                </div>

                <div class="col">
                    <h6>¿Cuántas regiones existen en el archivo y cuáles son (<strong>REGION</strong>)?</h6>
                    <p><i>Existen {{ total_regions }} regiones:</i></p>
                    {% for region in regions %}
                        <li>{{ region }}</li>
                    {% endfor %}
                </div>

                <div class="col">
                    <h6>Cantidad de órdenes según prioridad (<strong>ORDER PRIORITY</strong>):</h6>
                    <ul>
                        {% for orders in orders_by_priority %}
                            <li><strong>{{ orders.order_priority }}: </strong>{{ orders.count }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col">
                    <h6>Cantidad de órdenes según tipo de ítem (<strong>ITEM TYPE</strong>):</h6>
                    <ul>
                        {% for item in orders_by_item_type %}
                            <li><strong>{{ item.item_type }}: </strong>{{ item.count }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    {% else %}

        {% comment %}<p>Insert table for the csv statistics</p>{% endcomment %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6>Número de filas importadas</h6>
                    <li>{{ total_rows }}</li>
                </div>

                <br>

                <div class="col">
                    <h6>Número de movimientos y cuáles son según la columna <strong>DESCRIPTION</strong></h6>
                    {% for transactions in transactions_by_desc %}
                        <li><strong>{{ transactions.description }}:</strong> {{ transactions.count }}</li>
                    {% endfor %}
                </div>

                <br>

                <div class="col">
                    <h6>Número de transacciones por año según la columna <strong>DATE</strong>:</h6>
                    {% for transactions in transactions_per_year %}
                        <li><strong>{{ transactions.year.year }}:</strong> {{ transactions.count }}</li>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
