{% extends 'base.html' %}

{% block content %}

    <form action="{% url 'upload_file' %}" method="POST" enctype="multipart/form-data" class="text-center mx-auto">

        {% csrf_token %}

        {% if form %}
            {% for field in form.visible_fields %}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                <br>
                {{ field }}
                <br>
            {% endfor %}
        {% endif %}

        <input type="submit" value="Upload" class="btn btn-outline-secondary">

    </form>

    {% for error in errors %}
        <span class="help-block" style="color:red">{{ error }}</span>
    {% endfor %}

    {% for succ in success %}
        <span class="help-block" style="color:green">{{ succ }}</span>
    {% endfor %}

{% endblock %}









